{% extends 'layout/base.html' %}


{% load static %}

{% block title %} Activation {% endblock %}

{% block content %}
    <div class="content">
		<div class="page-inner">
			<h4 class="page-title">Activation</h4>
            <h2>Error during activation.</h2>
            <h2>Activation of user with this name failed. You can try register again.</h2>
            <a href="{% url 'simplify_app:register' %}"
               class="btn btn-warning btn-border btn-lg fw-bold mb-3">Register</a>
            <a href="{% url 'simplify_app:index' %}"
               class="btn btn-info btn-border btn-lg fw-bold mb-3">Back to main page</a>
        </div>
    </div>
{% endblock %}
