{% extends "layout/base.html" %}

{% block title %} Change Password {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="page-inner">
        <h4 class="page-title">Profile Setting</h4>
        <div class="row">
            <div class="col-4 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <span>
                                Change {{ user.username }} password
                            </span>
                        </div>
                    </div>
                    <form method="post">

                        {% csrf_token %}

                        <div class="card-body">
                            <div class="row">
                                <div class="col">

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </div>
                                            {{ form.old_password }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </div>
                                            {{ form.new_password1 }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </div>
                                            {{ form.new_password2 }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success btn-border">Save</button>
                            &nbsp; &nbsp;
                            <a href="{% url 'simplify_app:profile' %}" class="btn btn-info btn-border">Cancel</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
